.total {
    display: flex;
    margin-left: 4.55%;
    height: 100%;
    background-color: lightslategrey;
}

.left {
    height: 100%;
    width: 60%;
    flex: 1;
    display: flex;
}

iframe {
    width: 85%;
    height: 90%;
    margin-left: 90px;
}

.right {
    height: 100%;
    width: 40%;
    flex: 1;
    position: relative;
}

h1{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(35, 59, 59);
    margin-left: 20%;
    margin-top: 20%;
    text-decoration: underline;
}

button {
    border-radius: 15%;
    width: 20%;
    height: 7%;
    background-color: coral;
    font-size: 30px;
    color: rgb(35, 59, 59);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 35%;
    margin-top: 5%;
}

#dlcv {
    overflow: auto;
}