.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: yellow;
    height: 100%;
}

.a-right {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 330px;
    left: 90px;
    background-color: rgb(29, 97, 74);
}

.a-card {
    width: 50%;
    height: 30%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}